<% provide(:title, 'Events') %>
<div>
<% @events.each do |event| %>
    <div class="row">
        <div>
            <h3><span class="pull-left"><%= event.name %></span></h3><br />
            <span class="pull-right"><small>10 people needed</small></span>
        </div>
        <br />
        <br />
        <div class="row" style="height: 180px; background-image:url('<%= event.image_url %>'); background-position:center; background-repeat:no-repeat;">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <h4 class="text-center"><%= link_to 'View More Details', event %></h4>
    </div>
    <div class="row-fixed text-center">
        <table width="100%" cell-padding="0" cell-spacing="0" style="background-color:#D4D4D4">
            <tr>
                <td style="padding-top:5px; padding-bottom:5px; width: 50%">
                    <a href="" class="btn btn-medium btn-success" style="width: 110px;">Accept</a>
                </td>
                <td style="padding-top:5px; padding-bottom:5px; width: 50%">
                    <a href="" style="font-weight: bold; color: white">Not Available</a>
                </td>
            </tr>
        </table>
    </div>
    
<% end %>

<br />
<% if  admin? %>
<%= link_to 'Report Event', new_event_path %>
<% end %>
</div>